name: test

on:
  push:
    branches-ignore:
      - "main"
    paths:
      - ".github/workflows/test.yml"
      - "**"

jobs:

  test:
    name: test
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ./

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v4
        with:
          node-version: '24'

      - run: |
          npm ci

      - run: |
          npm run test
